{"http_interactions":[{"request":{"method":"get","uri":"https://api.fitbit.com/1/user/237ZVW/activities/date/2015-08-19.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Accept-Locale":["en_US"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Fitbit-Rate-Limit-Limit":["150"], "Fitbit-Rate-Limit-Remaining":["144"], "Fitbit-Rate-Limit-Reset":["1394"], "Content-Type":["application/json;charset=UTF-8"], "Content-Language":["en-US"]},"body":{"encoding":"ASCII-8BIT","string":"{\"activities\":[],\"goals\":{\"activeMinutes\":60,\"caloriesOut\":2221,\"distance\":5,\"floors\":10,\"steps\":10000},\"summary\":{\"activeScore\":-1,\"activityCalories\":0,\"caloriesBMR\":553,\"caloriesOut\":553,\"distances\":[{\"activity\":\"total\",\"distance\":0},{\"activity\":\"tracker\",\"distance\":0},{\"activity\":\"loggedActivities\",\"distance\":0},{\"activity\":\"veryActive\",\"distance\":0},{\"activity\":\"moderatelyActive\",\"distance\":0},{\"activity\":\"lightlyActive\",\"distance\":0},{\"activity\":\"sedentaryActive\",\"distance\":0}],\"elevation\":0,\"fairlyActiveMinutes\":0,\"floors\":0,\"lightlyActiveMinutes\":0,\"marginalCalories\":0,\"sedentaryMinutes\":576,\"steps\":0,\"veryActiveMinutes\":0}}"},"http_version":null},"recorded_at":"Wed, 19 Aug 2015 15:36:46 GMT"},{"request":{"method":"get","uri":"https://api.fitbit.com/1/user/237ZVW/profile.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Accept-Locale":["en_US"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Fitbit-Rate-Limit-Limit":["150"], "Fitbit-Rate-Limit-Remaining":["143"], "Fitbit-Rate-Limit-Reset":["1394"], "Content-Type":["application/json;charset=UTF-8"], "Content-Language":["en-US"]},"body":{"encoding":"ASCII-8BIT","string":"{\"user\":{\"age\":29,\"avatar\":\"https://d6y8zfzc2qfsl.cloudfront.net/0441DA2F-F541-BC10-96F4-2935A14560A7_profile_100_square.jpg\",\"avatar150\":\"https://d6y8zfzc2qfsl.cloudfront.net/0441DA2F-F541-BC10-96F4-2935A14560A7_profile_150_square.jpg\",\"averageDailySteps\":1781,\"country\":\"US\",\"dateOfBirth\":\"1985-12-21\",\"displayName\":\"sally\",\"distanceUnit\":\"en_US\",\"encodedId\":\"237ZVW\",\"foodsLocale\":\"en_US\",\"fullName\":\"sally macnicholas\",\"gender\":\"FEMALE\",\"glucoseUnit\":\"en_US\",\"height\":59.84251968503937,\"heightUnit\":\"en_US\",\"locale\":\"en_US\",\"memberSince\":\"2012-08-29\",\"nickname\":\"sally mae\",\"offsetFromUTCMillis\":-21600000,\"startDayOfWeek\":\"SUNDAY\",\"state\":\"CO\",\"strideLengthRunning\":31.88976377952756,\"strideLengthWalking\":24.724409448818896,\"timezone\":\"America/Denver\",\"topBadges\":[{\"badgeGradientEndColor\":\"FF677C\",\"badgeGradientStartColor\":\"D24958\",\"badgeType\":\"DAILY_STEPS\",\"category\":\"Daily Steps\",\"cheers\":[],\"dateTime\":\"2014-02-06\",\"description\":\"10,000 steps in a day\",\"earnedMessage\":\"Congrats on earning your first Sneakers badge!\",\"encodedId\":\"228TQB\",\"image100px\":\"http://static0.fitbit.com/images/badges_new/100px/badge_daily_steps10k.png\",\"image125px\":\"http://static0.fitbit.com/images/badges_new/125px/badge_daily_steps10k.png\",\"image300px\":\"http://static0.fitbit.com/images/badges_new/300px/badge_daily_steps10k.png\",\"image50px\":\"http://static0.fitbit.com/images/badges_new/badge_daily_steps10k.png\",\"image75px\":\"http://static0.fitbit.com/images/badges_new/75px/badge_daily_steps10k.png\",\"marketingDescription\":\"You've walked 10,000 steps  And earned the Sneaker badge!\",\"mobileDescription\":\"You stepped up your game and just reached the recommended number of steps per day.\",\"name\":\"Sneakers (10,000 steps in a day)\",\"shareImage640px\":\"http://static0.fitbit.com/images/badges_new/386px/shareLocalized/en_US/badge_daily_steps10k.png\",\"shareText\":\"I took 10,000 steps and earned the Sneakers badge! #Fitbit\",\"shortDescription\":\"10,000 steps\",\"shortName\":\"Sneakers\",\"timesAchieved\":6,\"value\":10000},{\"badgeGradientEndColor\":\"38D7FF\",\"badgeGradientStartColor\":\"2DB4D7\",\"badgeType\":\"LIFETIME_DISTANCE\",\"category\":\"Lifetime Distance\",\"cheers\":[],\"dateTime\":\"2014-09-17\",\"description\":\"70 lifetime miles\",\"earnedMessage\":\"Whoa! You've earned the Penguin March badge!\",\"encodedId\":\"22B8M7\",\"image100px\":\"http://static0.fitbit.com/images/badges_new/100px/badge_lifetime_miles70.png\",\"image125px\":\"http://static0.fitbit.com/images/badges_new/125px/badge_lifetime_miles70.png\",\"image300px\":\"http://static0.fitbit.com/images/badges_new/300px/badge_lifetime_miles70.png\",\"image50px\":\"http://static0.fitbit.com/images/badges_new/badge_lifetime_miles70.png\",\"image75px\":\"http://static0.fitbit.com/images/badges_new/75px/badge_lifetime_miles70.png\",\"marketingDescription\":\"By reaching 70 lifetime miles, you've earned the Penguin March badge!\",\"mobileDescription\":\"You matched the distance of the March of the Penguins\\u2014the annual trip emperor penguins make to their breeding grounds.\",\"name\":\"Penguin March (70 lifetime miles)\",\"shareImage640px\":\"http://static0.fitbit.com/images/badges_new/386px/shareLocalized/en_US/badge_lifetime_miles70.png\",\"shareText\":\"I covered 70 miles with my #Fitbit and earned the Penguin March badge.\",\"shortDescription\":\"70 miles\",\"shortName\":\"Penguin March\",\"timesAchieved\":1,\"unit\":\"MILES\",\"value\":70},{\"badgeGradientEndColor\":\"38D7FF\",\"badgeGradientStartColor\":\"2DB4D7\",\"badgeType\":\"DAILY_FLOORS\",\"category\":\"Daily Climb\",\"cheers\":[],\"dateTime\":\"2012-09-08\",\"description\":\"50 floors in a day\",\"earnedMessage\":\"Congrats on earning your first Lighthouse badge!\",\"encodedId\":\"228TT7\",\"image100px\":\"http://static0.fitbit.com/images/badges_new/100px/badge_daily_floors50.png\",\"image125px\":\"http://static0.fitbit.com/images/badges_new/125px/b[...]
