{"http_interactions":[{"request":{"method":"get","uri":"https://api.fitbit.com/1/user/237ZVW/activities/date/2015-08-17.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Accept-Locale":["en_US"]}},"response":{"status":{"code":401,"message":"Unauthorized"},"headers":{"Www-Authenticate":["OAuth realm=\"https%3A%2F%2Fapi012-g4.prod.dal05.fitbit.com\""], "Content-Type":["application/json;charset=UTF-8"], "Content-Language":["en-US"]},"body":{"encoding":"ASCII-8BIT","string":"{\"errors\":[{\"errorType\":\"oauth\",\"fieldName\":\"oauth_access_token\",\"message\":\"Invalid signature or token 'TaiKXCoA5i9xgfJhUW1KcFzgkzs=' or token '7e74761122aed7a72cd5dc0b6a4d232d'\"}],\"success\":false}"},"http_version":null},"recorded_at":"Mon, 17 Aug 2015 23:26:46 GMT"},{"request":{"method":"get","uri":"https://api.fitbit.com/1/user/237ZVW/profile.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Accept-Locale":["en_US"]}},"response":{"status":{"code":401,"message":"Unauthorized"},"headers":{"Www-Authenticate":["OAuth realm=\"https%3A%2F%2Fapi011-g4.prod.dal05.fitbit.com\""], "Content-Type":["application/json;charset=UTF-8"], "Content-Language":["en-US"]},"body":{"encoding":"ASCII-8BIT","string":"{\"errors\":[{\"errorType\":\"oauth\",\"fieldName\":\"oauth_access_token\",\"message\":\"Invalid signature or token 'e8rxKqCyqhznZWglqvMBupclx0c=' or token '7e74761122aed7a72cd5dc0b6a4d232d'\"}],\"success\":false}"},"http_version":null},"recorded_at":"Mon, 17 Aug 2015 23:26:46 GMT"}],"recorded_with":"VCR 2.9.3"}