{"http_interactions":[{"request":{"method":"get","uri":"https://api.fitbit.com/1/user/237ZVW/activities/date/2015-08-19.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Accept-Locale":["en_US"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Fitbit-Rate-Limit-Limit":["150"], "Fitbit-Rate-Limit-Remaining":["145"], "Fitbit-Rate-Limit-Reset":["1395"], "Content-Type":["application/json;charset=UTF-8"], "Content-Language":["en-US"]},"body":{"encoding":"ASCII-8BIT","string":"{\"activities\":[],\"goals\":{\"activeMinutes\":60,\"caloriesOut\":2221,\"distance\":5,\"floors\":10,\"steps\":10000},\"summary\":{\"activeScore\":-1,\"activityCalories\":0,\"caloriesBMR\":553,\"caloriesOut\":553,\"distances\":[{\"activity\":\"total\",\"distance\":0},{\"activity\":\"tracker\",\"distance\":0},{\"activity\":\"loggedActivities\",\"distance\":0},{\"activity\":\"veryActive\",\"distance\":0},{\"activity\":\"moderatelyActive\",\"distance\":0},{\"activity\":\"lightlyActive\",\"distance\":0},{\"activity\":\"sedentaryActive\",\"distance\":0}],\"elevation\":0,\"fairlyActiveMinutes\":0,\"floors\":0,\"lightlyActiveMinutes\":0,\"marginalCalories\":0,\"sedentaryMinutes\":576,\"steps\":0,\"veryActiveMinutes\":0}}"},"http_version":null},"recorded_at":"Wed, 19 Aug 2015 15:36:46 GMT"}],"recorded_with":"VCR 2.9.3"}