{"http_interactions":[{"request":{"method":"get","uri":"https://api.fitbit.com/1/user/237ZVW/activities/date/2015-08-17.json","body":{"encoding":"US-ASCII","string":""},"headers":{"Accept-Locale":["en_US"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Fitbit-Rate-Limit-Limit":["150"], "Fitbit-Rate-Limit-Remaining":["146"], "Fitbit-Rate-Limit-Reset":["3356"], "Content-Type":["application/json;charset=UTF-8"], "Content-Language":["en-US"]},"body":{"encoding":"ASCII-8BIT","string":"{\"activities\":[],\"goals\":{\"activeMinutes\":60,\"caloriesOut\":2221,\"distance\":5,\"floors\":10,\"steps\":10000},\"summary\":{\"activeScore\":-1,\"activityCalories\":429,\"caloriesBMR\":1215,\"caloriesOut\":1566,\"distances\":[{\"activity\":\"total\",\"distance\":1.53},{\"activity\":\"tracker\",\"distance\":1.53},{\"activity\":\"loggedActivities\",\"distance\":0},{\"activity\":\"veryActive\",\"distance\":0},{\"activity\":\"moderatelyActive\",\"distance\":0},{\"activity\":\"lightlyActive\",\"distance\":1.53},{\"activity\":\"sedentaryActive\",\"distance\":0}],\"elevation\":50,\"fairlyActiveMinutes\":0,\"floors\":5,\"lightlyActiveMinutes\":127,\"marginalCalories\":223,\"sedentaryMinutes\":1137,\"steps\":3932,\"veryActiveMinutes\":0}}"},"http_version":null},"recorded_at":"Tue, 18 Aug 2015 03:04:03 GMT"}],"recorded_with":"VCR 2.9.3"}