.large-10.medium-12.small-12.columns.light-grey-bg-pattern
  .row
    .large-10.columns
      .page-name
        %h3.left Notifications
        .clearfix
  .row
  - if !awake_and_goals
    .row
    .large-12.columns
      .custom-panel
        .custom-panel-heading
          %h4 Add Text Notification
        .custom-panel-body
          %p You first need to set awake times and goals. Start
          = link_to 'here', profiles_path
  - elsif !notification_number
    = render partial: "shared/add_notification", locals: { notification: @notification }
  - else
    = render partial: "shared/add_notification", locals: { notification_number: notification_number, notification: @notification }
  #inbox
    = render partial: "shared/notification_messages", locals: { messages: @messages.last(5) }
