.large-10.medium-12.small-12.columns.light-grey-bg-pattern
  .row
    .large-10.columns
      .page-name
        %h3.left Notifications
        .clearfix
  = render partial: "shared/add_notification", locals: { number: notifications_number, notification: @notification }
  #inbox
    .row
      .large-12.columns
        .custom-panel.blue-bg
          .custom-panel-heading{:style => "padding: 10px;"}
            .row
              .large-6.columns.text-center
          .custom-panel-body
            %br/
            %table.width-100.custom-table.responsive
              %tr
                %td
                  Notification 1
                %td
                  number of steps needed
                %td
                  Time
                %td
                  Date
              %tr
                %td
                  Notification 1
                %td
                  number of steps needed
                %td
                  Time
                %td
                  Date
              %tr
                %td
                  Notification 1
                %td
                  number of steps needed
                %td
                  Time
                %td
                  Date
              %tr
                %td
                  Notification 1
                %td
                  number of steps needed
                %td
                  Time
                %td
                  Date
              %tr
                %td
                  Notification 1
                %td
                  number of steps needed
                %td
                  Time
                %td
                  Date
