.custom-panel
  .custom-panel-heading
    %h4
      = header
  .custom-panel-body
    .progress.secondary.alert.success.radius.round
      - if current_user.goal
        %span.meter{:style => "width: #{percentage}%"}
        %br
        Your are #{percentage}% of the way to your goal..step it up
      - else
        %span.meter{:style => "width: 33%"}
        %br
        You have no goals set. Set some
        = link_to 'here', goals_path
      .clearfix
