.custom-panel
  .custom-panel-heading
    %h4
      = something
  .custom-panel-body
    .progress.secondary.alert.success.radius.round
      %span.meter{:style => "width: #{percentage}% "}
      %br
    %p Your are #{percentage}% of the way to your goal..step it up
    .clearfix
