.row
  .large-2.medium-4.small-12.columns.top-part-no-padding
    .logo-bg
      = image_tag 'fitbot.png'
      %i.fi-list.toggles{"data-toggle" => "hide"}
  .large-10.medium-8.small-12.columns.top-menu
    .row
      .large-6.medium-6.small-12.columns
        .row
          .large-8.columns
            %input#Text1.search-text{:placeholder => "Search", :type => "text"}/
      .large-4.medium-6.small-12.columns.text-center
        .row
          .medium-3.small-4.columns
            %p
          .medium-3.small-4.columns
            %p
              = current_user.username
          .medium-3.small-4.columns
            = image_tag client.avatar, class:"top-bar-picture"
          .medium-3.small-3.columns
            = link_to '', logout_path, method: :delete , class:"fi-power power-off"
    .clearfix
