%section.hero
  .row.intro
    .small-centered.medium-centered.medium-6.large-7.columns
      %h1
        meet your goals with
        %strong fitbot
      %p the app that notifies you of your failures
    .center.row
      %section
        %p.title{"data-section-title" => ""}
        .content{"data-section-content" => ""}
          .row
            = link_to "Login with Fitbit", login_path, class: "button"
