.row.full-width.wrapper
  .large-12.columns.content-bg
    #top-menu
      = render "shared/topmenu"
    .row
      = render "shared/sidebar"
      = render "shared/profile", locals: { user_id: current_user.id }

